<div id="container" *ngIf="deviceDetails | async as device">
    <div id="details-device-container">
        <img [src]="fileURL + device.fotoPath" alt="" />
        <h1>{{device.name}}</h1>
        <p id="device-description">{{device.description}}</p>
        <div id="device-subscriptions-container" class="mat-elevation-z8">
            <h4>Specifications:</h4>
            <div id="subscription-texts">
                <div class="subscription" *ngFor="let subs of device.subscriptions">
                    <span>{{subs.title}}:</span>
                    <span>{{subs.description}}</span>
                </div>
            </div>


        </div>
    </div>
</div>