<div id="form-container" *ngIf="!isEditing; else editingTemplate">
    <div class="highlight -size-2xl">Register Device:</div>
    <hr class="a-divider" />
    <br>
    <form [formGroup]="formDevice" (ngSubmit)="registerDevice()">

        <input id="photoPath" name="fotoFile" (change)="setFotoFile($event)" type="file" />
        <br>
        <br>
        <img [src]="files + device?.fotoPath" alt="">

        <br>
        <div class="m-form-field">
            <div class="a-text-field">
                <label for="1">Name</label>
                <input formControlName="name" id="1" type="text" />
            </div>
        </div>
        <br>
        <div class="m-form-field">
            <div class="a-text-field">
                <label for="2">Description</label>
                <input formControlName="description" id="2" type="text" />
            </div>
        </div>
        <br>
        <input id="documentPath" (change)="setDocumentFile($event)" type="file" />
        <br>
        <br>
        <button *ngIf="!isEditing" type="submit" class="a-button a-button--primary -without-icon">
            <span class="a-button__label">Register new device</span>
        </button>
        <br>
    </form>
</div>


<ng-template id="form-container" #editingTemplate>
    <div class="highlight -size-2xl">Editing Device:</div>
    <hr class="a-divider" />
    <br>
    <form [formGroup]="formDevice" (ngSubmit)="updateDevice()">

        <img [src]="files + device?.fotoPath" alt="">
        <br>
        <input id="photoPath" name="fotoFile" (change)="setFotoFile($event)" type="file" />
        <br>
        <br>

        <input id="documentPath" (change)="setDocumentFile($event)" type="file" />
        <br>
        <br>

        <div class="m-form-field">
            <div class="a-text-field">
                <label for="1">Name</label>
                <input formControlName="name" id="1" type="text" />
            </div>
        </div>
        <br>
        <div class="m-form-field">
            <div class="a-text-field">
                <label for="2">Description</label>
                <input formControlName="description" id="2" type="text" />
            </div>
        </div>
        <br>
       
        <button type="submit" class="a-button a-button--primary -without-icon">
            <span class="a-button__label">Save Edit Device</span>
        </button>
        <br>
    </form>
</ng-template>