<div id="form-container">
    <p-toast key="success" (onClose)="message.redirect('admin/devices-registered')"></p-toast>
    <p-toast key="error" ></p-toast>
    <div *ngIf="!isEditing" class="highlight -size-2xl">Register Device:</div>
    <div *ngIf="isEditing" class="highlight -size-2xl">Editing Device:</div>
    <hr class="a-divider" />
    <form [formGroup]="formDevice">
        <img *ngIf="isEditing" [src]="files + device?.fotoPath" alt="">
        <div class="m-form-field">
            <div class="a-text-field">
                <label for="1">Name</label>
                <input formControlName="name" id="1" type="text" />
            </div>
        </div>
        <br>
        <div class="a-text-area">
            <label for="description">Description</label>
            <textarea formControlName="description" id="description"></textarea>
        </div>
        <br>
        <div class="a-file-upload-input">
            <label *ngIf="!isEditing" for="fotoFileInput">
                <i class="a-icon boschicon-bosch-ic-upload" title="upload icon"></i>
                Choose a Image
            </label>
            <label *ngIf="isEditing" for="fotoFileInput">
                <i class="a-icon boschicon-bosch-ic-upload" title="upload icon"></i>
                Update device Image
            </label>
            <input (change)="setFotoFile($event)" id="fotoFileInput" name="file upload input" type="file" />
            <div class="a-file-upload-input__preview">
                <p>{{formDevice.value.fotoName}}</p>
            </div>
        </div>
        <br>
        <div class="a-file-upload-input">
            <label *ngIf="!isEditing" for="documentFileInput">
                <i class="a-icon boschicon-bosch-ic-upload" title="upload icon"></i>
                Choose a Document
            </label>
            <label *ngIf="isEditing" for="documentFileInput">
                <i class="a-icon boschicon-bosch-ic-upload" title="upload icon"></i>
                Update device Document
            </label>
            <input (change)="setDocumentFile($event)" id="documentFileInput" name="file upload input" type="file" />
            <div class="a-file-upload-input__preview">
                <p>{{formDevice.value.documentName}}</p>
            </div>
        </div>
        <br>
        <div id="subscriptiosn-container" class="mat-elevation-z8">
            <h4>Specifications:</h4>
            <button [disabled]="subscriptionsNumberOfFields>=6" (click)="addSubscriptionOnForms()" mat-raised-button ><i class="a-icon ui-ic-plus" title="plus"></i> Add subscription</button>
            <br>
            <br>
            <div class="subscriptions-fields-container" *ngFor="let subscription of susbscriptionsArray, let i=index">
                <h5>Specification {{i+1}}</h5>
                <div class="a-text-field">
                    <label>Specification Name {{i+1}}</label>
                    <input [formControlName]="'subscription_title_'+i" type="text" />
                </div>
                <div class="a-text-field">
                    <label>Specification Description {{i+1}}</label>
                    <input formControlName="{{'subscription_description_'+i}}" type="text" />
                </div>
                <i *ngIf="!isEditing" (click)="deleteSubscriptionFromForms(i)" 
                class="a-icon boschicon-bosch-ic-delete" title="delete"></i>

                <!-- <i (click)="deleteSubscriptionFromForms()" 
                *ngIf="isEditing"
                matTooltip="You'll delete this specification"
                matTooltipPosition="after"
                class="a-icon boschicon-bosch-ic-delete" title="delete"></i> -->
            </div>
            {{subscriptionsNumberOfFields}}/6
        </div>
        <br>
        <button [disabled]="!formDevice.valid" (click)="registerDevice()" *ngIf="!isEditing" type="submit" class="a-button a-button--primary -without-icon">
            <span class="a-button__label">Register new device</span>
        </button>
        <button [disabled]="!formDevice.valid" (click)="updateDevice()" *ngIf="isEditing" type="submit" class="a-button a-button--primary -without-icon">
            <span class="a-button__label">Save Changes</span>
        </button>

    </form>
</div>