<img id="top-brand-img" src="/assets/Templates/top-brand.png" alt="">
<mat-toolbar>
    <mat-toolbar-row>
        <img id="logo-brand-img" src="/assets/Templates/Logo DiOS.png" alt="">
        <div id="links-container" *ngIf="userService.verifyUserIsLoged()">
            <a routerLink="/admin/register-device" routerLinkActive="link-active">Add a new Device</a>
            <a routerLink="/admin/devices-registered" routerLinkActive="link-active">Devices</a>
        </div>
        <div class="highlight -size-xl">DiOS Devices</div>
        <button *ngIf="!userService.verifyUserIsLoged(); else logout" type="submit" routerLink="/login" class="a-button a-button--primary -without-icon">
            <span class="a-button__label">Login</span>
        </button>
        <ng-template #logout>
            <button  (click)="userService.logout()" type="submit"  class="a-button a-button--primary">
                <i class="a-icon a-button__icon  boschicon-bosch-ic-logout" title="logout"></i>
                <span class="a-button__label">Logout</span>
            </button>
        </ng-template>
        
    </mat-toolbar-row>
</mat-toolbar>
<hr id="tool-bar-divider">

<div id="contnet-main-principal-route">
    <router-outlet></router-outlet>
</div>