<img id="top-brand-img" src="/assets/Templates/top-brand.png" alt="">
<mat-toolbar>
    <mat-toolbar-row>
        <img id="logo-brand-img" src="/assets/Templates/Logo DiOS.png" alt="">
        <div class="highlight -size-2xl">DiOS Devices</div>
        <button type="submit" class="a-button a-button--primary -without-icon">
            <span class="a-button__label">Login</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<hr id="tool-bar-divider">

<div id="contnet-main-principal-route">
    <router-outlet></router-outlet>
</div>