/* You can add global styles to this file, and also import other style files */
@import '~@bosch/frontend.kit-npm/dist/frontend-kit.css';

html, body { padding-top: 40px; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.doucment-unavailable-warning{
    background-color: #142551;
    color: #fff;
}
// .doucment-unavailable-warning button{
//     color: #fff;
//     border: 1px solid #fff;
// }