table{
    width: 100%;
}
.mat-header-row{
    background-color: #0E6FAD;
}
.mat-header-cell{
    color: #000;
    opacity: 1;
    font-size: 15px;
}
.a-icon{
    cursor: pointer;
}
.a-button{
    height: 40px ;
    padding-bottom: 30px ;
    padding-bottom: 40px ;
}